<!DOCTYPE html>
<html>
<head>
    <style>
        input {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>
<body>
<h2>Barebone Shop Product</h2>

{% if error_message %}
    <p><strong>{{ error_message }}</strong>
        <a href="{% url 'BareboneShop:product' product.product_id %}">Go Back</a>
    </p>
{% endif %}

<form action="{% url 'BareboneShop:buyproduct' product.product_id %}" method="post" name="prodid">
    {% csrf_token %}
    <div>Product: {{ product.title }}</div>
    <div>Inventory: {{ product.inventory_cnt }}</div>
    <div>Price: {{ product.price }}$</div>
    <input type="submit" name="buybutton" value="Buy!">
    <input type="submit" name="addcart" value="Add to cart">
</form>
</body>
</html>
